<!DOCTYPE html>
<html lang="pt-BR" ng-app="galeria" ng-controller="galeriaCtrl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Galeria Vídeos</title>
    <link rel="shortcut icon" href="/assets/logos-site/favicon.ico">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">

</head>

<body>
    <div class="">

        <div ng-include="'/templates/header.html'"></div>
        <div ng-include="'/templates/menu.html'"></div>
        <header class="content-header my-2">
            <h1 class="text-left PageTitleHeader">Galeria de vídeos</h1>
        </header>

        <div class="Conteudo">

        </div>

        <div ng-include="'/templates/footer.html'"></div>
        <div  ng-include="'/templates/after-footer.html'"></div>

    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/app.js"></script>
    <script src="/scripts/galeria.js"></script>

</body>

</html>