<!DOCTYPE html>
<html lang="pt-BR" ng-app="classificacao" ng-controller="classificacaoCtrl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Classificacao</title>
    <link rel="shortcut icon" href="/assets/logos-site/favicon.ico">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">

</head>

<body>
    <div class="">

        <div ng-include="'/templates/header.html'"></div>
        <div ng-include="'/templates/menu.html'"></div>
        <header class="content-header my-2">
            <h1 class="text-left PageTitleHeader">Classificação</h1>
        </header>

        <div class="Conteudo container">

            <div class="row">
                <select class="form-control">
                    <option value="" ng-disabled="true" ng-selected="true">Selecione um campeonato</option>
                    <option>Amador - Especial</option>
                    <option>Amador - Acesso</option>
                    <option>Juniores</option>
                    <option>Veteranos</option>
                    <option>Rural</option>
                </select>
            </div>

            <div class="table-responsive-xl">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Pos.</th>
                            <th scope="col">Esc.</th>
                            <th scope="col">Equipe</th>
                            <th scope="col">JG</th>
                            <th scope="col">PT</th>
                            <th scope="col">VT</th>
                            <th scope="col">EM</th>
                            <th scope="col">DR</th>
                            <th scope="col">GP</th>
                            <th scope="col">GC</th>
                            <th scope="col">SD</th>
                            <th scope="col">Aproveitamento</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="classificacao in classificacoes">

                            <td>
                                <span ng-bind="classificacao.posicao"></span>
                            </td>
                            <td>
                                <img src="/assets/agremiacoes/{{classificacao.time}}.png" alt=""
                                height="30" width="30">
                            </td>
                            <td>
                                <span ng-bind="classificacao.time"></span>
                            </td>
                            <td>
                                <span ng-bind="classificacao.qtdJogos"></span>
                            </td>
                            <td>
                                <span ng-bind="classificacao.qtdPontos"></span>
                            </td>
                            <td>
                                <span ng-bind="classificacao.qtdVitorias"></span>
                            </td>
                            <td>
                                <span ng-bind="classificacao.qtdEmpates"></span>
                            </td>
                            <td>
                                <span ng-bind="classificacao.qtdDerrotas"></span>
                            </td>
                            <td>
                                <span ng-bind="classificacao.golsPro"></span>
                            </td>
                            <td>
                                <span ng-bind="classificacao.golsContra"></span>
                            </td>
                            <td>
                                <span ng-bind="classificacao.saldoGol"></span>
                            </td>
                            <td>
                                <span>100%</span>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <div ng-include="'/templates/footer.html'"></div>
        <div ng-include="'/templates/after-footer.html'"></div>

    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/scripts/classificacao.js"></script>
</body>

</html>