<!DOCTYPE html>
<html lang="pt-BR" ng-app="classificacao" ng-controller="classificacaoCtrl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Classificacao</title>
    <link rel="shortcut icon" href="/assets/logos-site/favicon.ico">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">

</head>

<body>
    <div class="">

        <div ng-include="'/templates/header.html'"></div>
        <div ng-include="'/templates/menu.html'"></div>
        <header class="content-header my-2">
            <h4 class="text-left PageTitleHeader">Classificação</h4>
        </header>

        <div class="Conteudo container">

            <div class="row">
                <div class="col-md-4 col-lg-2">
                    <button type="button" 
                            ng-click="selecionaCategoria('AMADOR_ESPECIAL')" 
                            class="btn btn-outline-primary btn-block">AMADOR ESPECIAL</button>
                </div>
                <div class="col-md-4 col-lg-2">
                    <button type="button" 
                            ng-click="selecionaCategoria('AMADOR_ACESSO')" 
                            style="margin-left: 1px;"
                            class="btn btn-outline-secondary btn-block">AMADOR ACESSO</button>
                </div>
            </div>

            <div class="table-responsive-xl">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Posição</th>
                            <th scope="col">Chave</th>
                            <th scope="col">Escudo</th>
                            <th scope="col">Equipe</th>
                            <th scope="col">JG - Jogos</th>
                            <th scope="col">PT - Pontos</th>
                            <th scope="col">VT - Vitórias</th>
                            <th scope="col">GP - Gols Pró</th>
                            <th scope="col">GC - Gols Contra</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="classificacao in classificacoes">
                            <td>
                                <span ng-bind="classificacao.posClassificacao"></span>
                            </td>
                            <td>
                                <span ng-bind="classificacao.chave"></span>
                            </td>
                            <td>
                                <img src="{{classificacao.agremiacao.image}}" alt="" height="30" width="30">
                            </td>
                            <td>
                                <span ng-bind="classificacao.agremiacao.nome"></span>
                            </td>
                            <td>
                                <span ng-bind="classificacao.qtdJogos"></span>
                            </td>
                            <td>
                                <span ng-bind="classificacao.qtdPontos"></span>
                            </td>
                            <td>
                                <span ng-bind="classificacao.qtdVitorias"></span>
                            </td>
                            <td>
                                <span ng-bind="classificacao.golsPro"></span>
                            </td>
                            <td>
                                <span ng-bind="classificacao.golsContra"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <div ng-include="'/templates/footer.html'"></div>
        <div ng-include="'/templates/after-footer.html'"></div>

    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/scripts/classificacao.js"></script>
</body>

</html>