<!DOCTYPE html>
<html lang="pt-BR" ng-app="dptoTecnico" ng-controller="dptoTecnicoCtrl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Resultado dos Jogos</title>
    <link rel="shortcut icon" href="/assets/logos-site/favicon.ico">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">

</head>

<body>
    <div class="">

        <div ng-include="'/templates/header.html'"></div>
        <div ng-include="'/templates/menu.html'"></div>
        <header class="content-header my-2">
            <h4 class="text-left PageTitleHeader">Resultado dos Jogos</h4>
        </header>

        <div class="Conteudo container">
            <div class="row">
                <div class="col-md-4 col-lg-2">
                    <button type="button" 
                            ng-click="selecionaCategoria('AMADOR_ESPECIAL')" 
                            class="btn btn-outline-primary btn-block">AMADOR ESPECIAL</button>
                </div>
                <div class="col-md-4 col-lg-2">
                    <button type="button" 
                            ng-click="selecionaCategoria('AMADOR_ACESSO')" 
                            style="margin-left: 1px;"
                            class="btn btn-outline-secondary btn-block">AMADOR ACESSO</button>
                </div>
            </div>

            <div class="table-responsive-xl">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Data</th>
                            <th scope="col">Hora</th>
                            <th scope="col">Local</th>
                            <th scope="col">Agremiacao A</th>
                            <th scope="col">Esc</th>
                            <th scope="col">PLA</th>
                            <th></th>
                            <th scope="col">PLB</th>
                            <th scope="col">Esc</th>
                            <th scope="col">Agremiacao B</th>
                            <th>Chave</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="jogo in resultadoJogos">

                            <td>
                                <span ng-bind="jogo.dataPartida"></span>
                            </td>
                            <td>
                                <span ng-bind="jogo.horarioPartida"></span>
                            </td>
                            <td>
                                <span ng-bind="jogo.local"></span>
                            </td>
                            <td>
                                <span ng-bind="jogo.agremiacaoA.nome"></span>
                            </td>
                            <td>
                                <img src="{{jogo.agremiacaoA.image}}" alt="" height="30" width="30">
                            </td>
                            <td>
                                <span ng-bind="jogo.golsAgremiacaoA"></span>
                            </td>
                            <td>X</td>
                            <td>
                                <span ng-bind="jogo.golsAgremiacaoB"></span>
                            </td>
                            <td>
                                <img src="{{jogo.agremiacaoB.image}}" alt="" height="30" width="30">
                            </td>
                            <td>
                                <span ng-bind="jogo.agremiacaoB.nome"></span>
                            </td>
                            <td>
                                <span ng-bind="jogo.chave"></span>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <div ng-include="'/templates/footer.html'"></div>
    <div ng-include="'/templates/after-footer.html'"></div>

    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/scripts/dpto-tecnico.js"></script>
</body>

</html>