<!DOCTYPE html>
<html lang="pt-BR" ng-app="dptoTecnico" ng-controller="dptoTecnicoCtrl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Súmulas</title>
    <link rel="shortcut icon" href="/assets/logos-site/favicon.ico">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">

</head>

<body>
    <div class="">

        <div ng-include="'/templates/header.html'"></div>
        <div ng-include="'/templates/menu.html'"></div>
        <header class="content-header my-2">
            <h1 class="text-left PageTitleHeader">Súmulas</h1>
        </header>

        <div class="Conteudo">
                <div class="row">

                        <div class="col-xs-12 col-sm-6 col-md-2 mb-4" ng-repeat="sumula in sumulas">
        
                            <div class="card CardCallToAction">
                                <div class="card-body text-center">
                                    <h4 class="card-title" ng-bind="sumula.numero"></h4>
                                    <p class="card-text">
                                        {{sumula.descricao}}
                                    </p>
        
                                    <a class="card-link" href="{{sumula.link}}" target="_blank">Ver Súmula</a>
        
                                </div>
                            </div>
        
                        </div>
                    </div>
        </div>

        <div ng-include="'/templates/footer.html'"></div>
        <div  ng-include="'/templates/after-footer.html'"></div>

    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/scripts/dpto-tecnico.js"></script>
</body>

</html>